.Create {
  display: flex;
  flex-direction: column;

  .page-title {
    font-size: 48px;
    font-weight: bold;
  }

  .button-options {
    flex-direction: row;
    .writer {
      background-color: #530ee8;
      color: white;
      font-size: 48px;
      text-decoration: none;
      border: none;
      padding: 15px 32px;
      border-radius: 12px;
      font-weight: bold;
    }

    .artist {
      background: #e3a608;
      color: #530ee8;
      font-size: 48px;
      text-decoration: none;
      border: none;
      padding: 15px 32px;
      border-radius: 12px;
      font-weight: bold;
    }
  }
}
