.Create {
  display: flex;
  flex-direction: column;

  .page-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 1em;
  }

  .button-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;

    .button-option-set {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .writer {
      background-color: #530ee8;
      color: white;
      font-size: 48px;
      text-decoration: none;
      border: none;
      padding: 15px 32px;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      width: 350px;
    }

    .artist {
      background: #e3a608;
      color: #530ee8;
      font-size: 48px;
      text-decoration: none;
      border: none;
      padding: 15px 32px;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      width: 350px;
    }
    .button-img {
      padding-top: 1em;
      width: 400px;
      height: 400px;
    }
  }
}
