.Hero {
  height: 317px;
  // top: 125px;

  background: #ece8f9;
  margin-top: 3em;
  padding: 1em;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

  .navbar-logo {
    padding: 10px;
    height: 268px;
  }

  .hero-intro {
    p {
      font-size: 24px;
      width: 721px;
      padding-bottom: 1em;
    }

    .hero-sign-up {
      border: none;
      text-align: center;
      text-decoration: none;
      color: white;
      background-color: #460ee8;
      padding: 0px 35px;

      h2 {
        font-weight: bold;
        font-size: 27px;
      }
    }
  }
}
