.Hero {
  height: 317px;
  top: 125px;

  background: #ece8f9;

  .hero-sign-up {
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #460ee8;
  }
}
