.Landing {
  .landing-header-light {
    background-color: #e1dbed;
    height: 55.53px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
  }

  .landing-header-dark {
    background-color: #460ee8;
    height: 55.53px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: white;
  }

  .landing-descr {
    background: #fcc32f;
    width: 50%;
    align-content: flex-start;
    padding: 1.5em;
    vertical-align: top;
    text-align: left;
  }

  .landing-s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-s1 > * {
    flex-basis: 50%;
  }

  .landing-s1-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .landing-s2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e1dbed;

    font-weight: 600;
    padding: 1em;
  }

  .landing-step3 {
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .landing-step1 {
    height: 156px;
  }
}
