@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap");

.Navigation {
  //this is code from the figma file --might not need this part
  // position: absolute;
  // width: 1440px;
  height: 4.875em; //78px;
  // left: 0px;
  // top: 0px;

  background: #c9b8fa;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  // justify-content: space-around;

  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }

  .navbar-logo {
    margin: 0.5em;
    justify-content: flex-start;
    // width: 67.45px;
    height: 69px;
  }

  .navbar-links {
    // flex-direction: row;
    justify-content: space-around;

    font-weight: bold;
    // position: fixed;
    display: inline-flex;
    list-style: none;
    width: 30%;
  }

  .navbar-login {
    width: 7em;
    height: 29.54px;
    // left: 1271px;
    // top: 22px;
    margin: 1em;

    background: #460ee8;
    color: #fcc32f;

    border-radius: 35%;
    border: none;

    font-weight: bold;
    font-size: 18px;
  }
}
