.SignUp {
  font-size: x-large;
  .form-field {
    text-align: left;
    margin-top: 2em;
    margin-left: 3.5em;
    margin-right: 3.5em;

    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  .signup-button {
    background-color: #460ee8;
    color: #fcc32f;

    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;

    font-size: large;
    font-weight: bold;
  }
}
