.StoryListItem {
  // background-color: red;
  width: 10em;
  .story-cover {
    border: red;
    width: 8em;
    max-width: 100%;
    height: auto;
  }
  .story-cover:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}
